body {
    background-color: #fdd686;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-size: 20px;
}

h2 {
    text-align: center;
    color: #013a90;
}

.box-container {
    padding: 1rem 3rem 3rem;
    width: 37vw;

    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.input-field {
    margin-bottom: 1rem;
    position: relative;
}

.input-field input {
    padding: 0.75rem 0.5rem;
    width: 100%;

    border: 2px solid #a1a2ad;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-field input:focus {
    border-color: #013a90;
    outline: none;
}

.input-field input:focus + label, :not(input[value=""]) + label {
    transform: translate(0, -50%);

    font-size: 0.75rem;
    padding: 0 0.3rem;
    background-color: white;
}

.input-field input:focus + label {
    color: #013a90;
}

.input-field label {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    padding-top: 0.6rem;
    left: 0.5rem;

    color: #a1a2ad;
    font-size: 0.9rem;

    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

.login-button {
    width: 100%;
    padding: 0.75rem;

    background-color: #013a90;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #012a70;

    transition: all 0.3s ease-in-out;
}

.landing-image {
    height: auto;
    width: 40%;
    padding-left: 25%;
    margin: 0.5rem 1rem;
}

.message {
    margin-bottom: 1rem;
    text-align: center;
    color: #a1a2ad;
    font-size: 1rem;
}

.logout-button {
    display: block;
    width: 50%;
    padding: 0.75rem;
    margin: auto;

    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #c9302c;

    transition: all 0.3s ease-in-out;
}